
<div id="experience" class="background-alt">
        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-laptop-code"></i></div><div class="vtimeline-block"><span class="vtimeline-date">August 2018 – Present</span><div data-date="December 2018 – July 2019" class="vtimeline-content">
                <h3>The Home Depot</h3>
                <h4>Data Scientist</h4>
                <p>
                  Enabling streamlined supply chain initiatives through advanced analytics & automation in the inventory space<br/>
                  <br><b>Technolgies Used</b></br>Google Cloud, Oracle, Teradata, MS SQL, UiPath for RPA, Python, VBA
                </p>
            </div></div></div>

            <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-laptop-code"></i></div><div class="vtimeline-block"><span class="vtimeline-date">June 2018 - August 2018</span><div data-date="Nov 2017 – December 2018" class="vtimeline-content">
                <h3>United Engines</h3>
                <h4>Supply Chain Analyst</h4>
                <p>
                  Procurement analytics focused on improving & streamling purchasing operations<br/>
                  <br><b>Techologies Used</b></br>VBA, SAP Business Objects<br/>
                </p>
            </div></div></div>


        </div>
    </div>
<!---------SKILLS----------->
<div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li>Python</li>
            <li>R</li>
            <li>Tableau</li>
            <li>MS SQL</li>
            <li>Google Cloud</li>
            <li>Teradata</li>
            <li>Oracle</li>
            <li>MS Access</li>
            <li>Apache Spark</li>
            <li>Machine Learning</li>
            <li>Deep Learning</li>
            <li>TensorFlow</li>
            <li>Optimization</li>
            <li>Inventory Analytics</li>
            <li>Supply Chain</li>
            <li>Statistical Analysis</li>
            <li>SAS</li>
            <li>GitHub</li>


        </ul>
    </div>
  <!--------------EDUCATION----------------->
  <div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Oklahoma State University</h3>
            <span class="education-date">Aug 2018 - May 2018</span>
            <h4>Master's in Industrial Engineering & Management</h4>
            <p>
                <b>Relevant Coursework - </b><br>
                <b>Supply Chain</b> - <em>Supply Chain Strategy, Optimization, Inventory Management, Production Control</em><br>
                <b>Data Science</b> - <em>Data Mining and Customer Relationship Management (CRM) Applications , Database Management, Programming for Data Science, Data Base Marketing with SAS®</em><br>
                <b>Machine Learning</b> - <em>Supervised, Unsupervised, Deep Learning</em><br>


            </p>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Jawaharlal Nehru Technological University</h3>
            <span class="education-date">August 2012 - May 2016</span>
            <h4>Bachelor's in Mechanical Engineering</h4>
            <p>
              <b>Relevant Coursework</b> - <br>
              <b>Supply Chain</b> - <em>Optimization, Production Control</em><br>
              <b>Programming</b> - <em> C </em>
            </p>
        </div>
        <!-- End .education-block -->
    </div>

<!--------------Certifications----------------->


    <div id="projects" class="background-alt">
        <h2 class="heading">Certifications</h2>
        <div class="container">
            <div class="row">
              <div class="project shadow-large">
                  <div class="project-image">
                      <img src="assets/images/certificateimage1.jpg">
                  </div>
                  <!-- End .project-image -->
                  <div class="project-info">
                      <h3>Tableau Data Scientist</h3>
                      <p>
                        Tableau learning program focused on building
                        insightful data-driven dashboards using Tableau's analytical capabilities.
                      </p>
                      <a href="https://www.youracclaim.com/badges/e5925492-d873-4b21-b683-d0929b3f7aaa/linked_in_profile" target="_blank">View Credential</a>
                  </div>
                  <!-- End .project-info -->
              </div>
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="assets/images/certificateimage1.jpg">
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Deep Learning Specialization</h3>
                        <p>
                          Specialization focuses on building deep learning applications in Computer Vision, Natural Language Processing, Speech
                          Recognition domains using TensorFlow & Keras<br>
                        </p>
                        <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/R5KDV7QHUBGQ" target="_blank">View Credential</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->

                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="assets/images/certificateimage1.jpg">
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Tensor Flow in Practice</h3>
                        <p>
                          Specialization focuses on implementation of deep neural networks with emphasis on improving performance using
                          loss functions and appropriate neural layers
                        </p>
                        <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/PXEPR3GW3CA4" target="_blank">View Credential</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->

                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="assets/images/certificateimage1.jpg">
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>IBM Data Science</h3>
                        <p>
                          Introduction to data science concepts and algorithms with hands-on assignments using Pandas, Numpy, Seaborn, Matplotlib, and Folium python packages
                        </p>
                        <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/5G8TX4EJQJX9" target="_blank">View Credential</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
            </div>
        </div>
    </div>
